  body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
            /* Aquí puedes poner tu imagen de fondo */
            background-image: url('../images/cda2.png');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            position: relative;
        }